@font-face {
  font-family: 'Questrial';
  src: url('font/questrial-regular-webfont.woff2') format('woff2'),
       url('font/questrial-regular-webfont.woff') format('woff'),
       url('font/Questrial-regular.ttf') format('truetype');
}

body{
	font-family: 'Questrial', sans-serif;

	background: linear-gradient(89deg, #b3d234, #008aaf);
	background-size: 100% 400%;

	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

#main_logo{
	width: 60px;
	top:10px;
}

.grid .text{
	background-color: #b3d234;
}

a:hover{
	color:#b3d234;
}

::selection {
  background: #b3d234!important;
  color:white;
}

#logo_nav{
width: 20px;
}

.menu-content li.active a{
	color:#b3d234;
}

@media (max-width: 579px) and (min-width: 320px){
	.menu-media {
		display: none;
	}
}

.start-page  {
	background: none;
}

.opacity{
	background: none!important;
}

.about-us{
	background-color: rgba(255,255,255,.9);
}

.portfolio{
	background-color:rgba(243, 243, 243, 0.9);
}

.contact{
	background-color: rgba(255,255,255,.9);
	padding: 20px;
}

.start-page .content .text img{
	border-radius: 60px;
}
